process {
  executor = 'local'
  withName: 'mash|prodigal|centrifuge|kaiju|checkm|dada2|taxonomy|summary' {
    container = null
  }
  withName: centrifuge {
    cpus = 2
    memory = '16 GB'
  }
  withName: kaiju {
    cpus = 2
    memory = '16 GB'
  }
  withName: checkm {
    cpus = 4
    memory = '28 GB'
  }
  withName: dada2 {
    cpus = 4
    memory = '16 GB'
  }
}
